{% extends "basic_app/base.html" %}
{% load static %}
{% block body_block %}
<div class="container">

<div class="jumbotron">
  <h1>Welcome to the Blog</h1>
  <h2>Created By:-Tauheed Shaikh</h2>
  <br>
  <br>
  <p><strong>Hey Guys Welcome to My Blog.In this blog you can Post your content and If you want to Post your Contents on My BLOG
  You need to first Register After getting yourself Registered You can Login And Post Your Contents on My Blog</strong></p>
<br>
<br>

<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Contact Info</p>

  </div>
  <div class="card-footer text-muted">
    Email: tauheedshkextc@gmail.com
    <br>
    Phone Number: +91 9897908765
  </div>
</div>


</div>

</div>
{% endblock %}
