{% extends "basic_app/base.html" %}
{% block body_block %}
<div class="jumbotron">
  <h1>Please Login</h1>
  <form  action="{% url 'basic_app:user_login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="username">
    <br>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="password">
    <br>
    <br>
    <input class="btn btn-primary" type="submit" value="Login">
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}

  </form>

</div>
{% endblock %}
